# pip install -r requirements.txt
streamlit
pymongo
bcrypt
google-generativeai
# time
PyPDF2
pinecone
# json
# re
openai
langchain_huggingface
langchain_pinecone
# uuid
langchain_core
langchain_experimental
opencv-python
numpy
fpdf2
pymupdf
pillow
zipfile
markdown2
pdfkit
python-docx
streamlit_lottie 